.form__input {
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 34px 4px;
    padding-bottom: 7px;
}

@media screen and (max-width: 440px){  
    .form__input {
        margin: 0 19px 4px;
        padding-bottom: 7px;
    }
}