.footer__logo {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #545454;
    margin: 25px 0 25px 0;    
}

@media screen and (max-width: 440px){  
    .footer__logo {
        font-size: 14px;
        line-height: 17px;
    }
}