.profile__description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    margin: 13px 0 15px 30px;
    grid-area: description;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 294px;
  }

@media screen and (max-width: 440px){  
    .profile__description {
      font-size: 14px;
      text-align: center;
      margin-left: 0;
      margin-bottom: 10px;
      justify-self: center;
      width: 282px;
    }
  }